<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}" th:with="activeTab='participant'">
<head>
    <title th:text="${page_title}"></title>
</head>

<span layout:fragment="page_title" th:text="${page_title}"></span>

<div layout:fragment="page_content" id="page_content">

    <form action="#" th:action="@{/participant/{path}(path=${action})}" th:object="${participant}" method="post">

        <div class="form-group">
            <label>Nom : <input type="text" th:field="*{nom}" class="form-control" th:errorclass="is-invalid"/></label>
            <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" class="invalid-feedback d-block">Erreur sur le nom</span>
        </div>

        <div class="form-group">
            <label>Prénom : <input type="text" th:field="*{prenom}" class="form-control" th:errorclass="is-invalid"/></label>
            <span th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}" class="invalid-feedback d-block">Erreur sur le prénom</span>
        </div>

        <div class="form-group">
            <label>Courriel : <input type="email" th:field="*{email}" class="form-control" th:errorclass="is-invalid" placeholder="toto@exemple.com"/></label>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback d-block">Erreur sur le courriel</span>
        </div>

        <div class="form-group">
            <label>Date de naissance : <input type="date" th:field="*{dateNaiss}" class="form-control" th:errorclass="is-invalid"/></label>
            <span th:if="${#fields.hasErrors('dateNaiss')}" th:errors="*{dateNaiss}" class="invalid-feedback d-block">Erreur sur la date de naissance</span>
        </div>

        <div class="form-group">
            <label>Evénements :
                <select th:field="*{evenements}" class="form-control" multiple>
                    <option th:each="evenement: ${allEvenements}" th:value="${evenement.id}" th:text="${evenement.intitule}"></option>
                </select>
            </label>
        </div>

        <p>
            <input type="submit" class="btn btn-success" value="Valider"/>
            <a th:href="@{/participant/all}" class="btn btn-outline-secondary">Annuler</a>
        </p>

    </form>

</div>
</html>
