<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}"  th:with="page_title='Tous les participants',activeTab='participant'">
<head>
    <title th:text="${page_title}"></title>
</head>

<span layout:fragment="page_title" th:text="${page_title}"></span>

<div layout:fragment="page_content" id="page_content">

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"> Id </th>
                <th scope="col"> Nom </th>
                <th scope="col"> Prénom </th>
                <th scope="col"> Courriel </th>
                <th scope="col"> Date de naissance </th>
                <th>  </th>
                <th>  </th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${#lists.isEmpty(participants)}">
                <td colspan="7"> Pas de participant </td>
            </tr>
            <tr th:each="participant : ${participants}">
                <th scope="row" th:text="${participant.id}"></th>
                <td th:text="${participant.nom}"></td>
                <td th:text="${participant.prenom}"></td>
                <td th:text="${participant.email}"></td>
                <td th:text="${participant.dateNaiss}"></td>
                <td>
                    <a th:href="@{/participant/edit/{id}(id=${participant.id})}" class="btn btn-outline-primary">
                        Modifier
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
                <td>
                    <a th:href="@{/participant/delete/{id}(id=${participant.id})}" class="btn btn-outline-danger">
                        Supprimer
                        <i class="fa fa-trash-o"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" th:href="@{/participant/create}">Créer un participant</a>

</div>
</html>
