<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}" th:with="activeTab='evenement'">
<head>
    <title th:text="${page_title}"></title>
</head>

<span layout:fragment="page_title" th:text="${page_title}"></span>

<div layout:fragment="page_content" id="page_content">

    <form action="#" th:action="@{/evenement/{path}(path=${action})}" th:object="${evenement}" method="post">

        <div class="form-group">
            <label>Intitulé : <input type="text" th:field="*{intitule}" class="form-control" th:errorclass="is-invalid"/></label>
            <span th:if="${#fields.hasErrors('intitule')}" th:errors="*{intitule}" class="invalid-feedback d-block">Erreur sur l'intitulé</span>
        </div>

        <div class="form-group">
            <label>Thème : <input type="text" th:field="*{theme}" class="form-control" th:errorclass="is-invalid"/></label>
            <span th:if="${#fields.hasErrors('theme')}" th:errors="*{theme}" class="invalid-feedback d-block">Erreur sur le thème</span>
        </div>

        <div class="form-group">
            <label>Date de début : <input type="date" th:field="*{dateDebut}" class="form-control" th:errorclass="is-invalid"/></label>
            <span th:if="${#fields.hasErrors('dateDebut')}" th:errors="*{dateDebut}" class="invalid-feedback d-block">Erreur sur la date de début</span>
        </div>

        <div class="form-group">
            <label>Participants :
                <select th:field="*{participants}" class="form-control" multiple>
                    <option th:each="participant: ${allParticipants}" th:value="${participant.id}" th:text="|${participant.nom}, ${participant.prenom}|"></option>
                </select>
            </label>
        </div>

        <p>
            <input type="submit" class="btn btn-success" value="Valider"/>
            <a th:href="@{/evenement/all}" class="btn btn-outline-secondary">Annuler</a>
        </p>

    </form>

</div>
</html>
