<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}"  th:with="page_title='Tous les événements',activeTab='evenement'">
<head>
    <title th:text="${page_title}"></title>
</head>

<span layout:fragment="page_title" th:text="${page_title}"></span>

<div layout:fragment="page_content" id="page_content">

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"> Id </th>
                <th scope="col"> Intitulé </th>
                <th scope="col"> Thème </th>
                <th scope="col"> Date de début </th>
                <th>  </th>
                <th>  </th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${#lists.isEmpty(evenements)}">
                <td colspan="6"> Pas d'évenement </td>
            </tr>
            <tr th:each="evenement : ${evenements}">
                <th scope="row" th:text="${evenement.id}"></th>
                <td th:text="${evenement.intitule}"></td>
                <td th:text="${evenement.theme}"></td>
                <td th:text="${evenement.dateDebut}"></td>
                <td>
                    <a th:href="@{/evenement/edit/{id}(id=${evenement.id})}" class="btn btn-outline-primary">
                        Modifier
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
                <td>
                    <a th:href="@{/evenement/delete/{id}(id=${evenement.id})}" class="btn btn-outline-danger">
                        Supprimer
                        <i class="fa fa-trash-o"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" th:href="@{/evenement/create}">Créer un événement</a>

</div>
</html>
