<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Mathieu Margollé</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <h1 class="navbar-brand mb-0">Mathieu Margollé</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div th:fragment="navbar(activeTab)" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:classappend="${activeTab == 'evenement'}? 'active' : null">
                    <a class="nav-link" th:href="@{/evenement/all/}">Evénements</a>
                </li>
                <li class="nav-item" th:classappend="${activeTab == 'participant'}? 'active' : null">
                    <a class="nav-link" th:href="@{/participant/all/}">Participants</a>
                </li>
            </ul>

            <span class="navbar-text">
                TSI ENSG 2018-2019
            </span>
        </div>
    </nav>

    <div class="container mt-3">
        <h4><span layout:fragment="page_title">Decorator Sample</span></h4>

        <div layout:fragment="page_content" class="content"></div>
    </div>

    <script th:src="@{/webjars/jquery/3.3.1-2/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>
